aniso8601==1.2.0
asn1crypto==0.24.0
cffi==1.11.5
click==6.7
cryptography==2.1.4
Flask==0.12.1
Flask-Ask==0.9.7
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pip==18.0
pycparser==2.18
pyOpenSSL==17.0.0
python-dateutil==2.7.3
PyYAML==3.13
setuptools==40.2.0
six==1.11.0
Werkzeug==0.14.1
wheel==0.31.1
